/*body { margin:0; padding:0; }*/
#map {
			width:100%;
			height: 500px;
		}/*p {
    font-size: 20px;
    color: black;
}*/
div {
      background: #333;
      margin-bottom: 10px;
      padding: 7px;
      color: #fff;
      font-family: Arial;
      font-size: 12px; 
    }
.paratext-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.paratext-info h4 {
    margin: 0 0 5px;
    color: #777;
}

body
{
    background-color:#000000;
}

@font-face{
    font-family:lia;
    src:url('../myfont/lia.otf');
}
@font-face{
    font-family:black;
    src:url('../myfont/black.otf');
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    height: 100%;
    position: relative;
    background: rgb(80,80,80);
}
.header{
    width:100%;
    height:10%;

    padding-bottom:20px;
}
.container{
    width:100%;
    height:100%;
}

/*----------------------canvas-----------------------------------------*/
.container .canvas {
    width:60%;
    height:500px;
    margin-right: 20px;
    left:350px;
    top: 50px;
    border-radius:7px;
    position:relative;
    background: rgb(50,50,50);
}
.container .control{
    width:171px;
    height:500px;
    left:70px;
    margin-top:20px;
    position:absolute;
    float:left;
    /*background: rgb(255,255,255);*/
}
/*----------------------font-----------------------------------------*/
h1{
    color: #00ff00;
    font-size: 1em;
    margin-left:50px; margin-right:35px; margin-top:35px;
}

h2{
    color: #00ff00;
    font-size:.5em;
    margin-left:50px; margin-right:35px; margin-top:-15px;
    padding-top: 0px;
    word-spacing:11px;
    letter-spacing:1.98px;

}
h3{
    color: #00ff00;
    font-size:.5em;
    word-spacing:11px;
    letter-spacing:1.98px;
    display:block;
    background-color:rgb(50,50,50);
    width:100%;
}


/*----------------------control-----------------------------------------*/
/*map event by && multi-series line graph*/


.control .button{
    color: rgb(70,70,70);
    background-color: rgb(50,50,50);
    font-size: .6em;
    height:35px;
    width:100%;
    position:relative;
    float:left;
    padding-left:20px;
    line-height:35px;
    border-radius:7px;
    margin-top:3px;
}
.button:hover {
    background: rgb(60,60,60);
    color: rgb(141, 255, 141)
}
.control .buttonMain{
    color: #00ff00;
    background-color:rgb(30,30,30);
    font-size: .6em;
    height:35px;
    width:100%;
    position:relative;
    float:left;
    padding-left:20px;
    line-height:35px;
    border-radius:7px;
    margin-top:3px;
}
.buttonMain:hover {
    background: rgb(60,60,60);
    color: rgb(141, 255, 141)
}

/*------------svg-----------------*/
.axis path,
.axis line,
.axis1 path,
.axis1 line {
    fill:none;
    stroke: #E6E7E8;
    shape-rendering: crispEdges;
    height:100%;
    width:100%;
}

.x.axis path, .x.axis1 path{
    display:none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}


.canvas .states{
    fill:none;
    stroke:#000;
    stroke-width:.5px;
    opacity:.5;
}

a:link {color: rgb(90,90,90);; text-decoration:none;}
a:visited {color: rgb(90,90,90); text-decoration:none;}
a:hover {text-decoration:none;}
a:active{color: rgb(150,150,150)text-decoration:none;}