@font-face{
    font-family:euro;
    src:url('../myfont/e004083tWeb.eot');
    src:url('../myfont/e004083tWeb.woff');
}
div {
    font-family: 'euro';
      /*font-size: 12px;*/
    }
body{
    font-family: 'euro';
    background:rgb(50,50,50);
}
svg {
    font: 10px sans-serif;
}
/*----------------------font-----------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}
h1{
    font-size:1em;
}
h2 {
    font-size: 1.4em;
    padding:0px 15px 0px 0px;
    /*color: rgb(138, 196, 122);*/
    /*color: rgb(149, 175, 147);*/
    color: rgb(90,108,90);

}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1em;
    padding:0px 0px 0px 0px;
    margin-top:0px;
    /*color: rgb(149, 175, 147);*/
    /*color: rgb(176, 215, 157);*/
    /*color: rgb(0,126,187);*/
    color: rgb(90,90,90);
}
/*top right bottom left*/

.paratext-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.paratext-info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*----------------------canvas-----------------------------------------*/
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#header{
    margin:0px 0px 0px;
    background: rgb(30,30,30);
    border-bottom:1px;
}
.canvas{
    width:100%; height:200px;
    left:0px;
    margin-left:0px; margin-top:0px;
    position:relative;
}

.map {
    width:100%; height: 375px;
    margin-left:-20px; margin-top:0px;

}

.infobox {
    width: 100%; height: 150px;
    margin-left:0px; margin-top:0px;
    background: none;
    pointer-events: none;

}
.right_bar {
    width: 100%; height: 375px;
    margin-left:0px; margin-top:0px;
    background: rgb(30,30,30);
    pointer-events: none;

}
.col-md-3 {
    left: 0px;
}
.col-md-4 {
    left: 0px;
}
.col-md-8 {
    left: 10px;
}
.col-md-9 {
    left: 10px;
}

.col-md-12 {
    left: 0px;
}

/*----------------------graph-----------------------------------------*/
.brush .extent {
    stroke: none;
    fill: #000;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.area {
    clip-path: url(#clip);
    stroke:#000;

}
.line {
    stroke:rgb(149, 175, 147);
    fill:none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    srtoke-weight:.5px;

}
.overlay {
    fill: #000;
    fill-opacity: .125;
    pointer-events: all;
}
.overlayDates {
    fill: #000;
    fill-opacity: .125;
    pointer-events: all;
    border: 5px solid red;
}

.dot{
    fill:rgb(200,0,0);
    opacity:.75;
}
.x label{
    font-size:2em;
}

a:link {color: rgb(90,90,90); text-decoration:none;}
a:visited {color: rgb(90,90,90); text-decoration:none;}
a:hover {text-decoration:none;}
a:active{color: rgb(150,150,150)text-decoration:none;}