/*body { margin:0; padding:0; }*/
#map {
	width:80%;
	height: 700px;
    margin-left:10px;
		}/*p {
    font-size: 20px;
    color: black;
}*/
#map2 {
    width:100px;
    height: 200px;
    margin-left:20px;
}

div {
      /*background: #333;*/
      /*margin-bottom: 10px;*/
      /*padding: 7px;*/
      /*color: #fff;*/
      font-family: Arial;
      font-size: 12px;
    }
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
svg {
    font: 10px sans-serif;

}
/*----------------------font-----------------------------------------*/
h1{
    color: #00ff00;
    font-size: 1em;
    margin-left:50px; margin-right:35px; margin-top:35px;
}

h2{
    color: #000;
    margin-left:50px; margin-right:35px; margin-top:15px;
    padding-top: 10px;
}
h3{
    color: #00ff00;
    font-size:.5em;
    word-spacing:11px;
    letter-spacing:1.98px;
    display:block;
    width:100%;
}
.paratext-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    /*background: white;*/
    /*background: rgba(255,255,255,0.8);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.paratext-info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*----------------------canvas-----------------------------------------*/
.canvas{
    width:80%;
    height:250px;
    margin-left:10px;
    margin-top:20px;
    background: rgb(50,50,50);
}

.brush .extent {
    stroke: none;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

/*rectangle for brush*/
.area {
    fill: steelblue;
    clip-path: url(#clip);
    stroke:#fff;


}
.line {
    stroke: yellow;
    fill:none;
}

.axis path,
.axis line {
    fill: #000;
    stroke: #000;
    shape-rendering: crispEdges;
}
.overlay {
    fill: #000;
    fill-opacity: .125;
    pointer-events: all;

}
/*.tooltip {*/
    /*position: absolute;*/
    /*text-align: left;*/
    /*width: 120px;*/
    /*height: 48px;*/
    /*padding: 10px;*/
    /*font: 12px sans-serif;*/
    /*background: steelblue;*/
    /*border: 0px;*/
    /*border-radius: 8px;*/
    /*pointer-events: none;*/
/*}*/
.hover-line {
    stroke: #000;
    fill: none;
    stroke-width: 1px;
    left: 10px;
    shape-rendering: crispEdges;
}




a:link {color: rgb(90,90,90); text-decoration:none;}
a:visited {color: rgb(90,90,90); text-decoration:none;}
a:hover {text-decoration:none;}
a:active{color: rgb(150,150,150)text-decoration:none;}